<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.koperasi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.PinjamanWajibActivity">
        </activity>
        <activity android:name=".activity.resetPasswordActivity">
        </activity>
        <activity android:name=".activity.changePasswordActivity">
        </activity>
        <activity android:name=".activity.PinjamanBayarActivity">
        </activity>
        <activity android:name=".activity.SukarelaEditActivity">
        </activity>
        <activity android:name=".activity.SukarelaAddActivity">
        </activity>
        <activity android:name=".activity.HistoryActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.PinjamanActivity">
        </activity>
        <activity android:name=".activity.PinjamanAddActivity">
        </activity>
        <activity android:name=".activity.PinjamanDetailActivity">
        </activity>
        <activity android:name=".activity.PinjamanEditActivity">
        </activity>
        <activity android:name=".activity.ProfileActivity">
        </activity>
        <activity android:name=".activity.RegisterActivity">
        </activity>
        <activity android:name=".activity.SukarelaActivity">
        </activity>
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Add here -->
        <service
                android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
                android:name=".MyFirebaseMessagingService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>